@keyframes imgscale {
    from {scale: 1.3}
    to {scale: 1.1351}
}

@keyframes textanim {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

body {
    background-color: black;
    padding: 0cm;
    margin: 0cm;
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    padding-bottom: 0cm;
    vertical-align: middle;
    position: absolute;
    animation-name: imgscale;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

.imgtop {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 86.49px;
    box-sizing: border-box;
    background: radial-gradient(252.44% 98.35% at 23.23% 38.54%, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.30) 100%);
}

h1.titleanim {
    color: #E5E5E5;
    animation-name: textanim;
    animation-duration: .6s;
    letter-spacing: 2px;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

h2.primaryanim {
    color: #d1d1d1;
    animation-name: textanim;
    white-space: pre-line;
    animation-duration: .6s;
    animation-delay: .75s;
    animation-fill-mode: backwards;
    margin-top: 5.02px;
}

p.startfont {
    color: white;
    transition: all .3s;
    user-select: none;
}

.startbtn {
    width: 237.84px;
    height: 65.16px;
    border-radius: 19.92px;
    display: flex;
    border-style: solid;
    border-width: 1.86px;
    border-color: white;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7.5pt);
    cursor: pointer;
    transition: all .3s;
    margin-top: 76.02px;
    
    animation-name: textanim;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.startbtn:hover {
    background-color: white;
}

.startbtn:hover .startfont {
    color: black;
}